<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <style>
        #studentName .v-toolbar__content {
            height: auto !important;
        }

        #studentName .v-toolbar__extension {
            height: auto !important;
        }

        #studentName {
            height: auto !important;
        }
    </style>

</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container fluid style="max-width: 1200px">
                <v-app-bar>
                    <!--                    <v-img src="http://vhk.ee/logo.jpg"></v-img>-->
                    <v-toolbar-title>E-kiituskiri</v-toolbar-title>
                </v-app-bar>

                <v-card>
                    <v-row>
                        <v-col md="6"
                               sm="12">
                            <v-row>
                                <v-col
                                        class="py-2"
                                >
                                    <v-row>
                                        <v-col class="ma-3 ml-8" cols="2">
                                            <p style="font-size: 16px; margin-bottom: 0">Kool:</p>
                                        </v-col>
                                        <v-col>
                                            <v-btn-toggle
                                                    v-model="kool"
                                                    color="primary"

                                                    mandatory
                                            >
                                                <v-btn value="pk" outlined>
                                                    VHK Põhikool
                                                </v-btn>

                                                <v-btn value="pmk" outlined>
                                                    Püha Miikaeli Kool
                                                </v-btn>
                                            </v-btn-toggle>
                                        </v-col>
                                    </v-row>

                                    <v-row>
                                        <v-col cols="2" class="ma-3 ml-8 mt-5">
                                            <p style="font-size: 16px; margin-bottom: 0">Klass:</p>
                                        </v-col>
                                        <v-col cols="2" class="pb-0">
                                            <v-text-field
                                                    label="number"
                                                    v-model="klass.nr"
                                                    type="number"
                                                    min="1"
                                                    max="9"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="3" class="pb-0">
                                            <v-select
                                                    label="tähis"
                                                    v-model="klass.tahis"
                                                    :items="tahised"
                                            ></v-select>
                                        </v-col>
                                    </v-row>

                                    <v-row v-show="students.length > 0">
                                        <v-col class="ma-3 ml-8 mt-3" cols="2">
                                            <p style="font-size: 16px; margin-bottom: 0">Õpilane:</p>
                                        </v-col>
                                        <v-col cols="8" class="pt-0">
                                            <v-select
                                                    class="pr-8"
                                                    :items="opilased"
                                                    v-model="selected"
                                                    hide-details
                                            >
                                                <template slot='selection' slot-scope='{ item }'>
                                                    {{ item.text }}
                                                </template>
                                                <template slot='item' slot-scope='{ item }'>
                                                    <div>
                                                        {{ item.text }}
                                                    </div>
                                                    <v-icon style="margin-left: auto" v-if="isStudentSent(item.value)">
                                                        mdi-check
                                                    </v-icon>
                                                </template>

                                            </v-select>
                                            <!--                                            <v-tooltip-->
                                            <!--                                                    top-->
                                            <!--                                                    nudge-bottom="20"-->
                                            <!--                                                    nudge-left="30"-->

                                            <!--                                            >-->
                                            <!--                                                <template-->
                                            <!--                                                        v-slot:activator="{on}"-->
                                            <!--                                                >-->
                                            <!--                                                </template>-->
                                            <!--                                            </v-tooltip>-->
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                            <v-divider v-if="selected" class="ma-2"></v-divider>
                            <v-row
                                    v-if="selected"
                            >
                                <v-col class="pt-0">
                                    <v-app-bar elevation="0" style="background-color: white" id="studentName">
                                        <!--                    <v-img src="http://vhk.ee/logo.jpg"></v-img>-->
                                        <v-toolbar-title>{{ studentMap[selected].eesnimi + " " +
                                            studentMap[selected].perekonnanimi }} <span class="ml-2"
                                                                                        style="font-size: 1rem">{{studentMap[selected].klass}}</span>
                                        </v-toolbar-title>
                                    </v-app-bar>
                                </v-col>
                            </v-row>

                            <v-row v-if="selected" class="pl-4 pb-0">
                                <v-col cols="12" class="pb-0">
                                    <v-textarea
                                            label="Kiituskirja tekst"
                                            v-model="val.text"
                                            rows="4"
                                            counter="1000"
                                            outlined
                                    />
                                </v-col>
                            </v-row>
                            <v-row v-if="selected" class="pl-4 pt-0 pb-8">
                                <v-col
                                        cols="12"
                                        class="pt-0"
                                >
                                    <v-row class="pt-0">
                                        <p class="pl-4 pt-5" style="font-size: 16px; margin-bottom: 0">Õpetaja nimi (koos tiitliga):</p>
                                        <v-col cols="7" class="pb-0 pt-0">
                                            <v-text-field
                                                    hide-details
                                                    v-model="val.signature"
                                                    label="nimi"
                                                    single-line
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col
                                        md="6"
                                        sm="12"
                                        class="pt-0"
                                >
                                    <v-row class="pt-0">
                                        <p class="pl-4 pt-5" style="font-size: 16px; margin-bottom: 0">Dokumendi
                                            tüüp:</p>
                                        <v-col cols="6" class="pb-0 pt-0">
                                            <v-select
                                                    hide-details
                                                    v-model="val.type"
                                                    :items="types"
                                            ></v-select>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col
                                        md="6"
                                        sm="12"
                                        class="pt-0"
                                >
                                    <v-row class="pt-0">
                                        <p class="pl-4 pt-5" style="font-size: 16px; margin-bottom: 0">Kuupäev:</p>
                                        <v-col cols="7" class="pb-0 pt-0">
                                            <v-text-field
                                                    hide-details
                                                    v-model="val.date"
                                                    single-line
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>

                            <v-row v-if="selected" class="pl-4">
                                <v-col>
                                    <v-btn color="primary" @click="sendEmail" v-if="!isSent"
                                    >
                                        Saada meilile
                                        <v-fade-transition group hide-on-leave>
                                            <v-icon v-if="isSent" small class="pl-2" key="1">mdi-email-open</v-icon>
                                            <v-icon v-else-if="!sending" small class="pl-2" key="2">mdi-email</v-icon>
                                            <v-progress-circular class="ml-2" v-else indeterminate
                                                                 size="16" key="3"></v-progress-circular>
                                        </v-fade-transition>
                                    </v-btn>
                                    <div v-else>
                                        <v-dialog width="600" v-model="dialog">
                                            <template v-slot:activator="{ on }">
                                                <v-btn color="primary" v-on="on"
                                                >
                                                    Saada uuesti meilile
                                                    <v-fade-transition group hide-on-leave>
                                                        <v-progress-circular class="ml-2" v-if="sending" indeterminate
                                                                             size="16" key="1"></v-progress-circular>
                                                        <v-icon v-if="isSent" small class="pl-2" key="2">mdi-email-open
                                                        </v-icon>
                                                        <v-icon v-else small class="pl-2" key="3">
                                                            mdi-email
                                                        </v-icon>
                                                    </v-fade-transition>
                                                </v-btn>
                                            </template>
                                            <v-card style="text-align: center">
                                                <v-card-title style="text-align: center">
                                                    Palun kinnita, et soovid uuesti saata kirja õpilasele
                                                </v-card-title>
                                                <v-card-text>
                                                    Õpilane on juba kiituskirja saanud
                                                </v-card-text>
                                                <v-divider></v-divider>
                                                <v-btn color="primary" @click="dialog = false; sendEmail()" class="ma-4"
                                                >
                                                    Kinnita
                                                </v-btn>
                                            </v-card>
                                        </v-dialog>

                                    </div>


                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col md="6"
                               sm="12"
                               style="position:relative">
                            <v-img :src="imgSrc"
                                   @load="overlay = false"
                            ></v-img>
                            <v-overlay
                                    :absolute="true"
                                    :value="overlay"
                            >
                                <v-progress-circular indeterminate size="64"></v-progress-circular>
                            </v-overlay>
                        </v-col>
                    </v-row>

                </v-card>
            </v-container>
        </v-content>
    </v-app>
</div>
</body>
<script>
    new Vue({
        vuetify: new Vuetify(),
        el: '#app',
        data() {
            return {
                roles: null,
                kool: "pk",

                klass: {
                    nr: 1,
                    tahis: "",
                },

                klassid: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                koiktahised: {
                    "pk": ["p", "t", "a", "b", "c", "d", "e"],
                    "pmk": ["pmp", "pmt"]
                },

                types: [
                    "kiituskiri", "tunnistus", "tunnustus", "tunnustäht", "diplom"
                ],

                students: [],

                selected: null,

                val: {
                    date: null,
                    month: null,
                    year: null,
                    type: "kiituskiri",
                    text: "",
                    signature: window.localStorage.getItem("opetajaNimi"),
                },

                monthNames: ["jaanuar", "veebruar", "märts", "aprill", "mai", "juuni",
                    "juuli", "august", "september", "oktoober", "november", "detsember"
                ],

                d: undefined,


                imgSrc: "/backgrounds/kiitus_pohi_vhk.jpg",

                overlay: false,
                timeout: null,
                sending: false,
                sent: false,
                dialog: false


            }
        },
        mounted() {
            let d = new Date();
            this.val.month = this.monthNames[d.getMonth()];
            this.val.year = d.getFullYear();
            this.val.date = this.val.month + " " + this.val.year;
        },

        computed: {
            tahised() {
                return this.koiktahised[this.kool];
            },

            opilased() {
                return this.students.map(s => {
                    return {
                        text: s.eesnimi + " " + s.perekonnanimi,
                        value: s.id
                    }
                })
            },

            studentMap() {
                let map = {};

                for (const student of this.students) {
                    map[student.id] = student;
                }

                return map;
            },

            isSent() {
                let ts = this.students.filter(value => value.id === this.selected);

                return !(ts.length !== 1 || ts[0].kiitus === null || !ts[0].kiitus.saadetud);
            }
        },

        methods: {

            isStudentSent(id) {
                let filter = this.students.filter(value => value.id === id)[0];

                return filter && filter.kiitus && filter.kiitus.saadetud;
            },

            sendEmail() {

                this.sending = true;

                axios("/api/v1/sendmail", {
                    method: "post",
                    data: {
                        studentId: this.selected,
                        msg: this.val.text,
                        signature: this.val.signature,
                        type: this.val.type[0].toUpperCase() + this.val.type.slice(1),
                        date: this.val.month + " " + this.val.year
                    },
                    withCredentials: true
                }).then(() => {
                    this.fetchStudents().then(() => {
                        this.sent = true;
                    });
                }).finally(() => {
                    this.sending = false;
                });
            },

            loadPicture() {
                if (this.timeout !== null) {
                    window.clearTimeout(this.timeout);
                    this.timeout = null;
                }

                this.timeout = setTimeout(() => {
                    this.overlay = true;
                    this.imgSrc = this.selected == null ? '/backgrounds/kiitus_pohi_vhk.jpg' : '/kiitus.png?studentId='
                        + this.selected
                        + '&msg=' + encodeURI(this.val.text)
                        + '&signature=' + encodeURI(this.val.signature)
                        + '&date=' + encodeURI(this.val.date)
                        + '&type=' + encodeURI(this.val.type[0].toUpperCase() + this.val.type.slice(1));
                }, 500);
            },

            fetchStudents() {
                return new Promise(((resolve, reject) => {
                    axios.get(`/api/v1/students?klass=${this.klass.nr}&tahis=${this.klass.tahis}`, {withCredentials: true})
                        .then(res => {
                            this.students = res.data;
                            resolve();
                        }).catch(() => {
                        reject();
                    });
                }))
            }
        },

        watch: {
            kool() {
                this.klass.tahis = "";
                this.students = [];
                this.selected = null;
                this.imgSrc = '/backgrounds/kiitus_pohi_vhk.jpg';
                this.val.text = "";
            },

            selected() {
                if (!this.selected) {
                    return;
                }

                let filter = this.students.filter(value => value.id === this.selected)[0];

                if (filter.kiitus) {
                    this.val.text = filter.kiitus.kiituskiri;
                } else {
                    this.loadPicture();
                }

            },

            klass: {
                deep: true,

                handler() {

                    this.selected = null;
                    this.val.text = "";

                    if (!this.klass.nr || !this.klass.tahis)
                        return;

                    this.fetchStudents();
                }
            },

            val: {
                deep: true,

                handler() {

                    if (!this.selected) {
                        return;
                    }

                    window.localStorage.setItem("opetajaNimi", this.val.signature);

                    this.loadPicture();
                }
            }
        }
    })
</script>
</html>